@model Mvc_Schedule.Models.DataModels.ModelViews.LessonsCreate

<div id="page-title">Добавление звонков</div>

<link href="@Url.Content("~/Content/validation.css")" rel="stylesheet" type="text/css" />

<div id="selector-block">
<p>Примечание: добавляются звонки только с уникальным временем.</p>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="lesson-time">
		<div class="editor-label">
			@Html.Label("Время 1-го звонка:")
		</div>
		<select class="hours" data-val="true" data-val-number="Значением поля Часы должно быть число." data-val-range="Поле Часы должно иметь значение между 0 и 24." data-val-range-max="24" data-val-range-min="0" data-val-required="Требуется поле Часы." id="Lessons_0__Hours" name="Lessons[0].Hours">
		</select>
		<span class="field-validation-valid" data-valmsg-for="Lessons[0].Hours" data-valmsg-replace="true"></span>
		:
		<select class="minutes" data-val-number="Значением поля Минуты должно быть число." data-val-range="Поле Минуты должно иметь значение между 0 и 60." data-val-range-max="60" data-val-range-min="0" data-val-required="Требуется поле Минуты." id="Lessons_0__Minutes" name="Lessons[0].Minutes">
		</select>
		<span class="field-validation-valid" data-valmsg-for="Lessons[0].Minutes" data-valmsg-replace="true"></span>
	</div>

	<div id="element-fields">
	</div>
	
	<style>
		#element-additor {
			margin: 10px 0;
		}
		#element-additor a {
			display: inline-block;
			padding: 3px 9px;
			text-decoration: none;
			font-size: 16px;
			background: #333;
			color: #fff;
			margin: 3px 5px;
		}
			#element-additor a:hover {
				background: #fff;
				color: #333;
			}
			
	</style>
	<p id="element-additor"><a href="javascript: void(0)" id="add_element">Добавить поле</a><a href="javascript: void(0)" id="remove_element">Убрать поле</a></p>
	
<script>
	function updateTimeInputs() {
		for (var i = 0; i < 60; i++) {
			$(".minutes").append('<option value="' + i + '">' + ((i >= 10) ? i : '0' + i) + '</option>');
			if (i < 24)
				$(".hours").append('<option value="' + i + '">' + ((i >= 10) ? i : '0' + i) + '</option>');
		}
	}

	updateTimeInputs();

	var countOfelements = 0;
	$("#add_element").click(function () {
		var html = '<div class="lesson-time" id="element_' + (++countOfelements) + '" > <div class="editor-label"> <label>Время ' + (countOfelements + 1) + '-го звонка:</label> </div> <select class="hours" data-val="true" data-val-number="Значением поля Часы должно быть число." data-val-range="Поле Часы должно иметь значение между 0 и 24." data-val-range-max="24" data-val-range-min="0" data-val-required="Требуется поле Часы." id="Lessons_' + countOfelements + '__Hours" name="Lessons[' + countOfelements + '].Hours"> </select> <span class="field-validation-valid" data-valmsg-for="Lessons[' + countOfelements + '].Hours" data-valmsg-replace="true"></span> : <select class="minutes" data-val-number="Значением поля Минуты должно быть число." data-val-range="Поле Минуты должно иметь значение между 0 и 60." data-val-range-max="60" data-val-range-min="0" data-val-required="Требуется поле Минуты." id="Lessons_' + countOfelements + '__Minutes" name="Lessons[' + countOfelements + '].Minutes"> </select> <span class="field-validation-valid" data-valmsg-for="Lessons[' + countOfelements + '].Minutes" data-valmsg-replace="true"></span> </div>';
		$("#element-fields").append(html);
		updateTimeInputs();
	});
	$("#remove_element").click(function () {
		if (countOfelements > 0)
			$("#element_" + (countOfelements--)).remove();
	});
</script>

	<p>
		<input id="add_lesson" type="submit" value="Добавить" />
	</p>

}
</div>