<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения по использованию преобразования web.config см. по ссылке http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение 
    "connectionString" с целью использования "ReleaseSQLServer", только когда указатель "Match" 
    находит атрибут "name", которое имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ConnectionContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=a05b2f4e-c4eb-489d-92bc-a0ca008665d9.sqlserver.sequelizer.com;Database=dba05b2f4ec4eb489d92bca0ca008665d9;User ID=edhvtfuhwstrucmb;Password=5XZz2cTPThY26BuMLFux4kBSJshfkCBogWnotnghxKgNw4uyyhdpSfhTuhYH3MDp;"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>