form {
	/*background: url('../Content/images/glow_bg.png') repeat;*/
	width: 275px;
	padding: 40px;
	margin: 0px auto;
	margin-top: 50px;
	font-size: 20px;
}
	input[type=text], input[type=password] {
		margin: 10px;
		width: 240px;
		padding: 3px 5px;
		font-family: Consolas, Arial, sans-serif;
		border: 1px solid #cc3300;
	}
	input[type=text]:hover, input[type=password]:hover {
		border: 1px solid #cc3300;
	}
	
	h3 {
		font-size: 18px;
		margin: 0 auto;
		width: 254px;
		text-align: center;
		font-weight: normal;
		background: #ff0033;
		padding: 3px;
		color: #fff;
		border: 1px solid #cc0033;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}