/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border: none;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size: 16px;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
	font-size: 18px;
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}
input[type=text], input[type=password] {
	width: 300px;
}
input[type=text], input[type=password], select {
	font-size: 16px;
	border: 1px solid #cc3300;
	height: 30px;
	padding: 4px;
	font-family: 'Ubuntu', 'Century Gothic', sans-serif;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    text-align: center;
	background: #fff;
	padding: 5px;
	font-size: 18px;
	color: #ff0033;
	border: 1px solid #cc0033;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0033;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #0099cc;
}

.validation-summary-valid
{
    display: none;
}
